<form action="/login" method="POST">

  <label for="">Email:</label>
  <input type="email" name="email" id="">

  <label for="">Password:</label>
  <input type="password" name="password">

  <button type="submit">Login</button>

</form>
<br>
<p>Don't have an account ? <a href="/signup">Sign Up</a></p>

{{> flashMessage}}