<form action="/login" method="POST">

  <label for="">Email:</label>
  <input type="email" name="email" id="">

  <label for="">Password:</label>
  <input type="password" name="password">

  <button type="submit">Login</button>

</form>
<br>
<h3>Log in with your Slack or Google account!</h3>
<br>
<a href="/slack-login" style="margin-right: 30px">
<img src="../images/slack-logo.svg" style="height: 70px"  alt="" >
</a>
<a href="/google-login" >
<img src="../images/google-logo.png" style="height: 70px"  alt="" >
</a>
<br>
<br>
<p>Don't have an account ? <a href="/signup">Sign Up</a></p>

{{> flashMessage}}